<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="../static/layui/css/layui.css">
  <link href="../static/css/layui1.css" rel="stylesheet">
  <link href="../static/css/chart.css" rel="stylesheet">
  <style>
    .asset-summary {
        background-color: #16baaa;
        border: 4px solid #16baaa; /* 绿色边框 */
        border-radius: 20px; /* 圆角边框 */
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left; /* 文本左对齐 */
    }
    .asset-summary h1 {
        margin: 0 0 20px 0; /* 大标题下边距 */
        color: #fff;
        font-size: 48px;
    }
    .currency {
        color: #fff; /* 绿色字体 */
        font-weight: bold;
    }
    </style>
</head>
<body>
<div class="chart-container">
    <div class="pie-chart-container">
        <div>{{plot_div2 | safe}}</div>
    </div>
    <div class="bar-chart-container">
        <div>{{plot_div1 | safe}}</div>
    </div>
</div>
<div class="chart-container">
    <div class="pie-chart-container">
        <div>{{plot_div4 | safe}}</div>
    </div>
    <div class="bar-chart-container">
        <div>{{plot_div3 | safe}}</div>
    </div>
</div>

 <script>
 function myFunction()
{
       window.location.href = '/families';//回去
}
//alert(localStorage.getItem('family_id'));
//---------------------------------------------------table的数据
let globalData1;
let globalData2;
let globalData3;
let globalData4;
let globalid;

// 使用fetch获取数据并将其设置为全局变量
async function fetchData1(url) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
    // 将获取的数据设置为全局变量
    globalData1 = data;
    console.log('Data1 fetched and set as global variable:', globalData1);
  } catch (error) {
    console.error('Fetching data failed:', error);
  }
}
async function fetchData2(url) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
    // 将获取的数据设置为全局变量
    globalData2 = data;

    console.log('Data2 fetched and set as global variable:', globalData2);
  } catch (error) {
    console.error('Fetching data failed:', error);
  }
}
async function fetchData3(url) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
    // 将获取的数据设置为全局变量
    globalData3 = data;
    console.log('Data3 fetched and set as global variable:', globalData3);
  } catch (error) {
    console.error('Fetching data failed:', error);
  }
}
async function fetchData4(url) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
    // 将获取的数据设置为全局变量
    globalData4 = data;
    console.log('Data4 fetched and set as global variable:', globalData4);
  } catch (error) {
    console.error('Fetching data failed:', error);
  }
}

fetchData3('/select_category');
fetchData4('/select_type/all');
function init(){
fetchData1('/family_data1');
fetchData2('/family_data2');

setTimeout(function() {
    console.log(globalData1);
  reloadTable('test1',globalData1);
  reloadTable('test2',globalData2);
}, 1000);
console.log(globalData1);
console.log(globalData2);
}
 init();
function reloadTable(id,data) {
  layui.use('table', function(){
    var table = layui.table;
    table.reload(id,{data:data}); // 重新加载表格
  });
}
function reloadDropdown(id,data) {
  layui.use('dropdown', function(){
    var dropdown = layui.dropdown;
    dropdown.reload(id,{data:data}); // 重新加载表格
  });
}


//----------------------------------------------------------修改删除增加数据函数


function onInputValueReceived(value) {
    console.log('接收到的值:', value);
    sendDataToServer(value);
}


function sendDataToServer(value) {

    fetch('/receive_total', {
        method: 'POST', // 或者 'PUT'，根据你的需求
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify(value), // 将JavaScript对象转换为JSON字符串
    })
    .then(response => response.json()) // 解析JSON格式的响应体
    .then(data => {
        console.log('Success');
        var table = layui.table;

        fetchData2('/family_data2');

        setTimeout(function() {
            reloadTable('test2',globalData2);
        }, 1000);

        // 这里可以添加成功提交后的处理逻辑
    })
    .catch((error) => {
        console.error('Error:', error);
        // 这里可以添加错误处理逻辑
    });

    }



function deleteData(id) {
  // 发送DELETE请求到Flask后端路由
  fetch('/delete_total/' + id, {
    method: 'POST'
  })
  .then(response => {
    if (response.ok) {
      alert('数据删除成功！');
      // 可以在这里添加其他逻辑，比如更新页面
    } else {
      alert('数据删除失败！');
    }
  })
  .catch(error => console.error('Error:', error));
}
function change_data(value) {
  fetch('/change_total', {
    method: 'POST', // 或者 'PUT'，根据你的需求
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(value), // 将JavaScript对象转换为JSON字符串
  })
  .then(response => response.json()) // 解析JSON格式的响应体
  .then(data => {
    console.log('Success:', data);
    // 这里可以添加成功提交后的处理逻辑
  })
  .catch((error) => {
    console.error('Error:', error);
    // 这里可以添加错误处理逻辑
  });
}
</script>
<div>
  <button type="button" class="layui-btn layui-btn-sm" onclick="myFunction()" style = "margin-top:20px;">
    <i class="layui-icon layui-icon-return"></i>返回
  </button>
</div>
 <script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" id="add">
      添加
      <i class="layui-icon layui-icon-add-1 "></i>
    </button>
          <button class="layui-btn layui-btn-sm layui-bg-blue" id="reloadTest">
        大类筛选
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
    <button class="layui-btn layui-btn-sm layui-bg-blue" id="reloadTest2">
        小类筛选
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
  </div>
</script>
<div style="padding: 15px;">
      <blockquote class="layui-elem-quote layui-text">
        <div class="asset-summary">
            <h1>家庭资产汇总</h1>
            <div style="color: #fff;">总资产：</div><div><br><span class="currency">￥{{asset}}</span></div>
        </div>
      </blockquote>

      </div>
<div style="padding: 16px;">
  <table class="layui-hide" id="test1" lay-filter="test1"></table>
</div>
<hr class="layui-border-green">
 <div style="padding: 15px;">
      <blockquote class="layui-elem-quote layui-text">
        家庭公共收支
      </blockquote>
      </div>
 <div style="padding: 16px;">
  <table class="layui-hide" id="test2" lay-filter="test2"></table>
</div>
 <script type="text/html" id="barDemo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
  </div>

</script>
<script src="../static/js/layui.js"></script>
</body>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
          elem: '#test1',
          data: globalData1,
          cols: [[
            {field: 'name', title: '家庭成员'},
            {field: 'in', title: '收入'},
            {field: 'out', title: '支出'},
          ]],
          cellMinWidth: 80,
          page:true,//
          limit:10//----------------------------------------分页的每页数量
        });
        table.render({
          toolbar: '#toolbarDemo',
          defaultToolbar: ['filter'],
          elem: '#test2',
          data: globalData2,
          cols: [[
            {field: 'time', title: '时间'},
            {field: 'is_in', title: '收入/支出'},
            {field: 'category', title: '类别'},
            {field: 'type', title: '子类别'},
            {field: 'money', title: '金额',edit: 'text'},
            {field: 'detail', title: '备注',edit: 'text'},
            {fixed: 'right', title:'操作', width: 134, minWidth: 125, toolbar: '#barDemo'},

          ]],
          cellMinWidth: 80,
          page:true,//
          limit:10,//----------------------------------------分页的每页数量
          done:function(){
             var $ = layui.jquery;
                $('#add').on('click', function(){
               layer.open({
                        title: '增加',
                        type: 2,
                        area: ['35%','95%'],
                        content: '/add_total'//-----------------------------记得加‘/’
                      });});


                table.on('tool(test2)', function(obj){ // 双击 toolDouble
            var data = obj.data; // 获得当前行数据
            layer.confirm('真的删除行 [id: '+ data.id +'] 么', function(index){
              obj.del(); // 删除对应行（tr）的DOM结构
              deleteData(data.id);
              layer.close(index);});});


         dropdown = layui.dropdown;
        dropdown.render({
            elem: '#reloadTest', // 可绑定在任意元素中，此处以上述按钮为例
            data: globalData3,
            // 菜单被点击的事件
            click: function(obj){
                switch(obj.id){
                case 'all':
                fetchData2('/family_data2');
                fetchData4('/select_type/'+obj.id);
                setTimeout(function() {
                console.log(globalData4);
                    dropdown.reload('reloadTest2', {data:globalData4});
                    table.reload('test2',{data:globalData2});
                }, 1000);

                break;
                default:
                    //alert(url);
                fetchData2('/family_category/'+obj.id);
                fetchData4('/select_type/'+obj.id);
                setTimeout(function() {
                console.log(globalData4);
                    dropdown.reload('reloadTest2', {data:globalData4});
                    table.reload('test2',{data:globalData2});
                }, 1000);
                globalid = obj.id;
                };
            }
            });

        dropdown.render({
            elem: '#reloadTest2', // 可绑定在任意元素中，此处以上述按钮为例
            data: globalData4,
            // 菜单被点击的事件
            click: function(obj){
                switch(obj.id){
                case 'all':
                fetchData2('/family_category/'+globalid);
                setTimeout(function() {
                console.log(globalData4);
                    table.reload('test2',{data:globalData2});
                }, 500);
                break;
                case 'allall':
                fetchData2('/family_data2');
                setTimeout(function() {
                    table.reload('test2',{data:globalData2});
                }, 1000);
                break;
                default:
                fetchData2('/family_type/'+obj.id);
                setTimeout(function() {
                    table.reload('test2',{data:globalData2});
                }, 1000);
                };
            }
            });





           table.on('edit(test2)', function(obj){
                var field = obj.field; // 得到字段
                var value = obj.value; // 得到修改后的值
                var data = obj.data; // 得到所在行所有键值

    switch(obj.field)
    {
    case 'money':
        console.log(typeof(value));console.log(typeof(Number(value)));console.log(isNaN(Number(value)));
        if(!isNaN(Number(value))&&Number(value)>0){layer.msg('编辑成功', {icon: 1});change_data(data);
        var update = {};
        update[field] = value;
        obj.update(update);}else{alert(value);layer.msg('请输入一个正数', {icon: 1});return obj.reedit();}break;
    case 'detail':
        layer.msg('', {icon: 1,skin: 'layui-layer-lan',content: '<i style="color: #1E9FFF; font-size: 24px;" class="layui-icon layui-icon-ok"></i> <i style="font-size: 20px;">修改成功</i>'});
        var update = {};
        update[field] = value;
        obj.update(update);
        change_data(data);
        break;
    }
  });


          }//done function
        });});
</script>
</html>
