
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员登陆 - QAdmin后台模板</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/layui/layui.js"></script>
</head>

<body id="login">
<div class="login">
    <h2>QAdmin后台模板</h2>
    <form class="layui-form" method="post" action="http://localhost:5000/cccc">
        <div class="layui-form-item">
            <input type="text" name="user" placeholder="邮箱" class="layui-input" id="account" required='required'>
            <i class="layui-icon input-icon">&#xe66f;</i>
        </div>
        <div class="layui-form-item">
            <input type="password" name="password" placeholder="密码"  class="layui-input" id="password" required='required'>
            <i class="layui-icon input-icon">&#xe673;</i>
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="box" lay-skin="primary" title="记住密码" checked=""> <a class="back" href="javascript:;"  style="margin-top: 10px">忘记密码</a>
        </div>
        <div class="layui-form-item">
            <button style="width: 100%" class="layui-btn" id="login-btn">立即登录</button>
        </div>
        <div class="layui-form-item">
            <button style="width: 100%" class="layui-btn" lay-submit lay-filter="login" id="register-btn">立即注册</button>
        </div>
    </form>

    <script>

        document.getElementById('login-btn').addEventListener('click', function(event) {
        event.preventDefault();


        const account = document.getElementById('account').value;
        const password = document.getElementById('password').value;

        fetch('/login_action', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({ account: account, password: password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'success') {
            // 登录成功，跳转到menu.html
            window.location.href = '/';
            } else {
            alert(data.message);
            }
        })
        .catch(error => {
            alert('程序报错！');
        });
        });


        document.getElementById('register-btn').addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = 'register'
        });
    </script>
</div>
</body>

</html>
